* {
    box-sizing: border-box
}

.row {
    max-width: 1000px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.row:before, .row:after {
    display: table;
    content: '';
}

.row:after {
    clear: both;
}

.col {
    float: left;
    padding: 0 1.04166667% 0 1.04166667%;
}

/* Mobile defaults */
.col-6, .col-12 {
    width: 100%;
}
  

@media only screen and (min-width: 750px) {

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;
    }
}

